.card2-container {
  display:flex;
  margin: 1rem;
  gap: .5rem;
}
.card2-content{
    display: flex; 
}
.card2-card{
    border-radius: .5rem;
    box-shadow: 3;
}

@media (max-width : 600px){
    .card2-container{
        margin-top: 55rem;
        display: block;
        width: 100%;
        height: max-content;
       
    }
    .card2-card{
        margin-top: 10px;
        width: 90%;
    }
    .card2-content{
        display: block;
    }
}